# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.pub/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Build outputs
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
